
.header{
    padding: 1.5vh 0vw 1.5vh 2vw;
    border-bottom: 0.5px solid #6c6c6c;
}
.header-link{
    font-size: 1.3em;
    font-weight:800;
    text-decoration: none;
    margin-right: 1vw;
    color: #1F378C;
}

/* control-section */
.control-section{
    display: grid;
    grid-template-columns: 82% 6% 6% 6%;
    margin: 2vh 0vw 0vh 0vw;
}
.search-box {
    width: 95%;
    display: flex;
    margin: 0vh 0vw 0vh 2vw;
}
.search-input {
width: 100%;
font-family: 'Montserrat', sans-serif;
font-size: 16px;
padding: 15px 45px 15px 15px;
background-color: #ffffff;
color: #000000;
border-radius: 6px;
transition: all .4s;
border: 1px solid black;
}

.search-input:focus {
border:none;
outline:none;
box-shadow: 0 1px 12px #b8c6db;
-moz-box-shadow: 0 1px 12px #b8c6db;
-webkit-box-shadow: 0 1px 12px #b8c6db;
}

.search-btn {
background-color: transparent;
font-size: 18px;
padding: 6px 9px;
margin-left:-45px;
border:none;
color: #6c6c6c;
transition: all .4s;
z-index: 10;
}

.search-btn:hover {
transform: scale(1.2);
cursor: pointer;
color: black;
}

.search-btn:focus {
outline:none;
color:black;
}
.filter,.add,.delete{
    height: 3.2em;
    width: 3.2em;
    border-radius: 7px;
    background-color: #c4c4c4;
    opacity: 1;
    cursor: pointer;
}
.filter-text,.add-text,.delete-text{
    font-size: 0.7em;
    font-weight: 600;
    display: flex;
    justify-content: center;
    color: #1F378C;
}

.add a{
    text-decoration: none;
}

.icon{
    font-size: 1.8em;
    width: 100%;
    padding-top: 0.2em;
    padding-bottom: 0.05em;
    display: flex;
    justify-content: center;
    color: #ffffff;
}

/* table */

.table-container{
    width: 100%;
}

.software-table{
    width: 95%;
    position: relative;
    left: 2vw;
    font-size: 1vw;
}

.software-table th{
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: left;
}

.software-table td{
    padding-bottom: 1vh;
}



/* .software-table tr:nth-child(2n){
    background-color: #D9D9D6;
} */
.select-all{
    width: 23px;
    height: 23px;
    padding-left: 1.7vw;

}
.edit-btn{
    padding-left: 0.5vw;
}

.pagination{
    margin-left: 2vw;
    margin-top: 1vh;
}
